.expenses-contain {
    padding: 1rem;
    background-color: goldenrod;
    margin: 2rem auto;
    /* width: 50rem */
    max-width: 95%;
}

.totalExpense {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.totalExpense h1 {
    color: black;
    font-family: monospace;
    font-size: 30px;
    font-weight: 900
}

@media(max-width:600px) {
    .expenses-contain {
        max-width: 80%!important;
        flex-direction: column;
    }
    .totalExpense h1 {
        font-size: 20px;
    }
}